.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.back-button img {
    width: 110px; /* Adjust the size of the back button */
    height: auto;
}
